.good {
  display: flex;
  width: 178px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 2px black solid;
  border-radius: 20px;
  padding: 10px;
}

p {
  margin: 5px 0;
}

.good > img {
  width: 100px;
  border-radius: 50%;
  align-self: center;
}

.goodsName {
  text-align: center;
  margin-bottom: 10px;
}

.goodsDescription {
  height: 87px;
  font-weight: 500;
  margin-bottom: 0;
}
  
.goodsRating,
.goodsPrice {
  font-size: 14px;
  font-weight: 400;
}